<div id="chart-container" class="row" style="display:none">
    <div class="span10 chart-and-axis">
      <div id="y_axis"></div>
      <div id="chart"></div>
    </div>

    <div id="legend-container" class="span2">
      <div class="row">
        <div class="title span2">Users:</div>
      </div>
      <div class="row">
        <div id="legend" class="span2"></div>
      </div>

      <div class="row">
        <div id="max-graph" class="span2">
          <label class="control-label" for="inputType">Max to graph:</label>
          {{view Ember.TextField id="maxUsers" classNames="span1" valueBinding="maxUsersToGraph"}}
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div id="slider" class="span10"></div>
</div>