<div class="row">
  <div id="chart-container" style="display:none">
    <div id="y_axis"></div>
    
    <div id="chart3"></div>

    <div id="legend-container">
      <div class="title">Users:</div>
      <div id="legend"></div>
      <div id="max-graph">
        <label class="control-label" for="inputType">Max to graph:</label>
        {{view Ember.TextField id="maxUsers" classNames="span1" valueBinding="maxUsersToGraph"}}
      </div>
    </div>
    
  </div>
</div>