<div class="container">

<div class="row">
<h3 class="span4">Cluster Usage</h3>
</div>

{{view App.UsageQueryView }}

<div class="graph-container">
{{view App.GraphView}}
</div>

<div class="table-container">
{{view App.TableView}}
</div>

</div>