<div class="row">

  <div id="pager">
    <form class="form-inline">
      <label class="control-label" for="pageDisplay">Page</label>
      <img src="images/pager/first.png" class="first">
      <img src="images/pager/prev.png" class="prev">
      <input type="text" id="pageDisplay" class="pagedisplay">
      <img src="images/pager/next.png" class="next">
      <img src="images/pager/last.png" class="last">

      <label class="control-label" for="pageSize">Page Size</label>
      <select id="pageSize" class="pagesize">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </form>
  </div>

  <div id="table"></div>
</div>